<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /DmHealthcare/

# If the request is not a valid file
RewriteCond %{REQUEST_FILENAME} !-f
# If the request is not a valid directory
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite to page.php?title=...
RewriteRule ^(.*)$ page.php?title=$1 [L,QSA]
</IfModule>
